
#scroll-down
{
    border:1px solid grey;
    margin:auto;
    margin-top: 150px;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    background-color: #95989A;
    margin-bottom: 3rem;

}
#scroll-down img
{
    position: relative;
    -webkit-animation: scrollDown5.5s linear infinite 0s;
    -ms-animation: scrollDown 5.5s linear infinite 0s;
    animation: scrollDown 1.5s linear infinite 0s;

}
@keyframes scrollDown {
    0% { -ms-transform: translate(0px, -10px);
        -webkit-transform: translate(0px, -10px);
        transform: translate(0px, -10px); }

    25% { -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px); }

    50% { -ms-transform: translate(0px, 10px);
        -webkit-transform: translate(0px, 10px);
        transform: translate(0px, 10px); }

    75% { -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px); }

    100% { -ms-transform: translate(0px, -10px);
        -webkit-transform: translate(0px, -10px);
        transform: translate(0px, -10px); }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle
::-webkit-scrollbar-thumb {
    background: #888;
}*/

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f00;
    background: url('https://images.pexels.com/photos/54320/rose-roses-flowers-red-54320.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}