body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
    letter-spacing: 1px;
    color: #999999;
    line-height:1.8em;
}

ul {
    margin: 0;
    padding: 0;
    color: #777777;
}

p,
ul,
ol {
    font-size: 13px;
    letter-spacing: 1px;
}

.background-video {
    position: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
}

input[type="submit"],
a,
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}


/*-- banner --*/

.center-container {
    padding: 2em 0 48em;
    background: rgba(0, 0, 0, 0.44);
}

.w3_agile_header_left {
    float: left;
}

.agile_header_right {
    float: right;
    margin-top: .7em;
}

.agile_header_right ul li {
    display: block;
    font-weight: 600;
    color: #fff;
    display: inline-block;
}

.agile_header_right ul li i {
    padding-right: 1.5em;
    color: #0accff;
}

.agile_header_right ul li a {
    color: #fff;
    text-decoration: none;
}

.agile_header_right ul li a:hover {
    color: #0accff;
}

.agile_header_right ul li a:before,
.agile_header_right ul li a:after {
    display: none;
}

.agile_header_right ul li:last-child {
    margin-left: 3em;
}

.w3_agileits_logo {
    float: left;
}

.w3_agileits_logo h1 a {
    font-size: 1.2em;
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

.w3_agileits_logo h1 a span {
    display: block;
    font-size: .3em;
    font-weight: 600;
    color: #0accff;
    position: relative;
    letter-spacing: 3px;
}

.agileits_w3layouts_banner_info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.agileits_w3layouts_banner_info h2 {
    font-size: 2em;
    color: #fff;
    text-transform: capitalize;
    line-height: 2em;
}

.agileits_w3layouts_banner_info p {
    color: #fff;
    line-height: 2em;
    margin: 0 0 5em;
}

ul.top_agile_info_ad {
    width: 42%;
    margin: 1.4% auto 0;
    float: right;
}

ul.top_agile_info_ad li {
    list-style: none;
    display: inline-block;
    width: 50%;
    float: left;
    letter-spacing: 1px;
}

.w3l_header_contact_details_agile {
    float: right;
    width: 78%;
    text-align: left;
}

.w3_agileits_logo h1 a span {
    font-size: 12px;
    text-align: center;
    color: #FF0000;
}

.header_contact_details_agile i {
    color: #fff;
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 13px;
    font-size: 1.5em;
}

.header-contact-detail-title {
    color: #7aba1e;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 7px;
}

a.w3l_header_contact_details_agile-info_inner,
.w3l_header_contact_details_agile a {
    font-size: 1em;
    color: #fff;
    text-align: left;
    letter-spacing: 1px;
}


/*-- nav --*/

.agileits_w3layouts_banner_nav {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 99;
    text-align: center;
    padding: 0em;
     background: rgba(0, 0, 0, 0.52);
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-collapse {
    padding: 0;
}

.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFFFFF;
    background: none;
}

.navbar-default .navbar-nav>.active>a:before {
    background: #FF0000;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}

.navbar-default .navbar-nav>li>a {
    font-weight: 400;
    letter-spacing: 2px;
}

.navbar-nav>li>a {
    margin: 0 1.5em;
    padding: 1.6em 0em;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #FFFFFF;
    outline: none;
}

nav.navbar.navbar-default {
    background: none;
    padding: 1em 0 0em 0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #262c38;
    background: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.active.open>a:focus {
    background: transparent;
    color: #fff;
}

a.navbar-brand i {
    color: #FF0000;
}

.navbar-header.navbar-left {
    margin-top: 8px;
}

a.navbar-brand {
    padding: 0;
    font-size: 1.2em;
    font-weight:600;
    line-height: 37px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand span {
    color: #fff;
    font-weight: 800;
    padding: 0px 10px;
    border: 3px solid #FF0000;
    background: #FF0000;
}

.navbar-default .navbar-brand {
    color: #FF0000;
    font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color:#FF0000;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color:#FF0000;
    background: none;
}

.agile_short_dropdown {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.71);
    text-align: center;
    padding: 0;
    border: none;
}

.agile_short_dropdown li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: .8em 0;
    border-bottom: none;
}

.agile_short_dropdown>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #FF0000;
}

.effect-3 {
    overflow: hidden;
}

.effect-3:before {
    left: -1px;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #FF0000;
    content: '';
    position: absolute;
    transition: transform .5s ease;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
}

.effect-3:hover:before {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}


/*-- /slider --*/


/*-- //menu --*/

.main_section_agile.inner {
    min-height: 50px;
}
/*--- slider-css --*/

.agile_banner_text_info h3 {
    font-size: 4em;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    color: #fff;
}

.agile_banner_text_info h3 span {
    font-weight: 700;
    display: block;
    letter-spacing: 3px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    color: #FF0000;
}

.agile_banner_text_info label {
    font-weight: 700;
    display: block;
    letter-spacing: 5px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    text-align: right;
    color: #FF0000;
}

.agile_banner_text_info {
    position: absolute;
    z-index: 9;
    top: 45%;
    left: 0%;
    text-align: center;
    width: 100%;
}

.slider {
    position: relative;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.rslides_tabs {
    z-index: 9;
    position: absolute;
    bottom: -1%;
    left: 1%;
}

.rslides_tabs li {
    display: inline-block;
    margin: 0 2px;
    list-style: none;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    color: #fff;
    font-weight: bold;
}

#slider3-pager a {
    display: inline-block;
}

#slider3-pager img {
    float: left;
    display: block;

}

.rslides_tabs a {
    border: 4px solid rgba(239, 232, 232, 0.28);

}

#slider3-pager .rslides_here a {
    background: transparent;
    border: 4px solid #FF0000;

}

a.rslides_nav.rslides1_nav.prev {
    position: absolute;
    left: 0%;
    color: #fff;
    top: 36%;
    z-index: 9999;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    display: none;
}

a.rslides_nav.rslides1_nav.next {
    right: 0%;
    position: absolute;
    color: #fff;
    top: 36%;
    z-index: 9999;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    display: none;
}

#home {
    position: relative;
}

ul#slider li:nth-child(1) {
    background: url(../images/384-Nitin-Brahmbhatt-FILEminimizer.jpg)no-repeat 0px 0px;
    /*background: url(../images/banner1.jpg)no-repeat 0px 0px;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(2) {
    background: url(../images/11G_7924-FILEminimizer.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(3) {
    background: url(../images/1143.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(4) {
    background: url(../images/1097.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(5) {
    background: url(../images/11G_8159-FILEminimizer.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(6) {
    background: url(../images/1124.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(7) {
    background: url(../images/384-Nitin-Brahmbhatt-FILEminimizer.jpg)no-repeat 0px 0px;
    /*background: url(../images/banner1.jpg)no-repeat 0px 0px;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(8) {
    background: url(../images/banner1.jpg)no-repeat 0px 0px;
    /*background: url(../images/11G_7924-FILEminimizer.jpg)no-repeat 0px 0px;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(9) {
    background: url(../images/banner2.jpg)no-repeat 0px 0px;
    /*background: url(../images/1143.jpg)no-repeat 0px 0px;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(10) {
    background: url(../images/1097.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(11) {
    background: url(../images/11G_8159-FILEminimizer.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

ul#slider li:nth-child(12) {
    background: url(../images/1124.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    min-height: 500px;
}

/*-- responsive-mediaqueries --*/

@media (max-width:1440px) {
    .agile_banner_text_info h3 {
        font-size: 4.8em;
        letter-spacing: 3px;
    }
}

@media (max-width:667px) {
    .rslides_tabs {
        padding: 0.3em 1em;
        margin-top: 6px;
    }
    a.rslides_nav.rslides1_nav.prev,
    a.rslides_nav.rslides1_nav.next {
        font-size: 0.9em;
    }
    .agile_banner_text_info {
        top: 32%;
    }
}

@media (max-width:667px) {
    .rslides_tabs {
        padding: 0;
        margin-top: 6px;
    }
    .rslides_tabs a {
        width: 45px;
        height: 45px;
    }
    #slider3-pager .rslides_here a {
        width: 45px;
        height: 45px;
    }
    #slider3-pager img {
        width: 40px;
        height: 40px;
    }
    .rslides_tabs a {
        border: 2px solid rgba(239, 232, 232, 0.28);
    }
    #slider3-pager .rslides_here a {
        border: 2px solid #FF0000;
    }
}


/*-- //responsive-mediaqueries --*/
/* About */
.about-3 {
    padding: 5em 0;
}

h3.center {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-shadow: 0 2px 2px rgba(0,0,0,.6);
        letter-spacing: 2px;
}
h3.center:after {
    border-top: 2px solid #FF5722;
    display: block;
    width: 100px;
    content: "";
    margin: 10px auto 0;
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about1, .about2 {
    flex: 1;
      -ms-flex: 1;
}
.about1 {
    padding-right: 30px;
}
.about1 h4 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FF0000;
    font-weight: 600;
}
.about1 p {
    color: #777;
    font-size: 14px;
}
.we-w3l {
    padding-left: 0;
}
ul.about-list li {
    margin: 20px 0px;
    display: block;
}
ul.about-list li span.fa {
    font-size: 50px;
        height: 80px;
    width: 80px;
    vertical-align: top;
    color: #FF0000;
}
.in-block {
    display: inline-block;
}
.in-block h5 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #000000;
}
.about2 {
    background: url(../images/wel.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
/* //About */
/*-- banner-bottom --*/

.banner-bottom {
    padding: 10em 0 8em 0;
}

.banner-bottom.inner {
    padding: 5em 0;
}

.wthree_banner_bottom_grid_right h4 {
    font-size: 1.6em;
    margin-bottom: .7em;
    font-weight: 600;
    color: #222222;
    letter-spacing: 1px;
}

.wthree_banner_bottom_grid_right p {
    line-height: 2em;
}

.agile_banner_bottom_grid_left_grid {
    width: 60px;
    height: 60px;
    text-align: center;
    background: #fff;
}

.agile_banner_bottom_grid_left_grid span {
    font-size: 2em;
    color: #FF0000;
    line-height: 62px;
}

.w3_agileits_banner_bottom_pos_grid:hover span {
    color: #111;
}
.agile_banner_text_info p {
    color: #fff;
    text-align: center;
    line-height: 1.8em;
    margin: 1em auto;
    width: 40%;
    font-size: 18px;
}
/*-- //banner-bottom --*/
.w3l_header {
    font-size: 3em;
    color: #262c38;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
    text-align: center;
}
.wthree_head_section {
    margin-bottom: 5em;
}
h3.w3l_header.w3_agileits_header.two {
    color: #fff;
}
.w3l_header span {
    color: #545151;
    font-weight: 200;
}
h3.w3l_header.w3_agileits_header.two span {
    color: #fff;
}
.w3l_header:after {
    border-top: 2px solid #FF0000;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}
h3.agile_tittle i {
    font-size: 0.8em;
    margin-bottom: 6px;
}
h3.agile_tittle span {
    font-weight: 600;
    letter-spacing: 4px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 18px;
}
/*-- //about --*/
.ser-agile {
    background: url(../images/instructor-banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment:fixed;
    padding:5em 0;
}
.grid1 {
    background: rgba(82, 82, 82, 0.5);
    padding: 4em 4em;
    margin-top: 30px;
    height: 400px;
    transition: 0.5s all;
    text-align: center;
    max-height: 400px;
}
.w3l-info h5 {
    font-style: italic;
    color: #FF0000;
    font-size: 16px;
    letter-spacing: 1px;
}
.w3l-info h6 {
    font-style: italic;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}
.w3l-info h4 {
    color: #fff;
    font-size: 20px;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin: .5em 0;
    font-weight: 600;
    text-transform: uppercase;
}
/* Blog */
.wthree-blog {
    padding: 5em 0;
}
.blog1, .blog2 {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.blog-box {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    color: white;
}
.blog-box a {

    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    }
.blog-txt {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    padding: 80px;
    background-color: #FF0000;
        max-width: 50%;
}
.blog-txt p {
    margin: 20px 0px;
    line-height: 1.8em;
    color: #fff;
}
.blog-txt h4 {
    font-size: 16px;
    margin-top: 16px;
    color: #040404;
}
.modal-header {
    padding: 8px 15px;
    font-size: 30px;
    color: #060606;
    font-weight: 600;
}
.blog-txt h3 a {
     font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #000000;
    text-transform:uppercase;
}
.blog-txt a {
    color: #fff;
}
.blog-box img.img-responsive {
    /* flex-basis: 25%; 
    width: 396px;
    height: 350px;*/
}
.blog-box img.img-modal {
    width: 60%;
    height: auto;
}
h4.modal-title {
    font-size: 30px;
    font-weight: 600;
}
.wthree-blog h3.center{
        text-align: center;
    text-transform: uppercase;
    margin-bottom: 4%;
    font-size: 30px;
    font-weight: 600;
}
.modal-dialog {
    color: black;
}
.modal-body img.img-responsive{
    margin: auto;
}
.modal-body p {
    font-size: 14px;
    line-height: 1.8em;
    padding: 20px 10px;
    color: #777;
}
/* //Blog */

/* testimonals */
.testimonal img {
    border-radius: 50%; 
}
.testimonals {
    padding: 5em 0;
}
.first-grid {
    text-align: center;
    padding: 40px 10px;
    margin-right: 10px;
    background: #000;
}
.first-grid h3 {
    text-transform: uppercase;
    color: #FF0000;
    font-size: 19px;
    font-weight: 600;
    margin: 20px 0 0;
}
.first-grid  h4 {
    margin: 5px 0;
    text-transform: capitalize;
}
.first-grid p {
    font-size: 14px;
    color: #999;
    margin: 10px 0;
    line-height: 24px;
}
/*-- testimonials --*/

/*-- stats --*/

.w3layouts_stats_left {
    text-align: center;
}

.w3layouts_stats_left p {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ffffff;
    margin: 0.1em 0 0.1em 0;
}

.w3layouts_stats_left h3 {
    font-size: 1.3em;
    color: #FF0000;
    letter-spacing: 3px;
    margin: 0;
    font-weight: 600;
}

.w3layouts_stats_left span {
    font-size: 2.5em;
    color: #fff;
}

.w3l_stats_bottom_grid_left img {
    margin: 0 auto;
}

.stats {
    text-align: center;
   background: url(../images/banner3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    padding: 5em 0;
}

.agile_inner_info_stats {
    margin-top: 2em;
}


/*-- //stats --*/
/*-- /contact --*/

.contact_img_agile {
    background: url(../images/contact.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 410px;
}

.contact-form.agile_inner_grids {
    padding: 1em 0em 0 0;
}

.contact-form h4 {
    font-size: 2.1em;
    color: #262c38;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 800;
    margin: 0 0 2em 0;
    text-align: center;
}

.contact-form h4:after {
    border-top: 2px solid #efb312;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}

.contact-form h4 span {
    color: #FF0000;
}

.styled-input.agile-styled-input-top {
    margin-top: 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-size: 1em;
    color: #26272b;
    padding: 1em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
    background: none;
    -webkit-appearance: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

.contact-form textarea {
    min-height: 150px;
    resize: none;
}

.contact-form.agile_inner_grids form {
    margin-top: 4em;
}


/*-- input-effect --*/

.styled-input input:focus~label,
.styled-input input:valid~label,
.styled-input textarea:focus~label,
.styled-input textarea:valid~label {
    font-size: .9em;
    color: #FF0000;
    top: -1.3em;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    -o-transition: all 0.125s;
    -ms-transition: all 0.125s;
    transition: all 0.125s;
}

.styled-input {
    width: 100%;
    margin: 2em 0 2em 0em;
    position: relative;
}

.textarea-grid {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
}

.styled-input label {
    padding: 0.5em 0em;
    position: absolute;
    top: 0;
    color: #2c2c2d;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 600;
    font-size: 1em;
    display: block;
    line-height: 1em;
    letter-spacing: 2px;
}

.styled-input input~span,
.styled-input textarea~span {
    display: block;
    width: 0;
    height: 2px;
    background: #FF0000;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}

.styled-input textarea~span {
    bottom: 5px;
}

.styled-input input:focus.styled-input textarea:focus {
    outline: 0;
}

.styled-input input:focus~span,
.styled-input textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s;
    -moz-transition: all 0.075s;
    transition: all 0.075s;
}


/*-- //input-effect --*/

.contact-form input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: .8em 3em;
    font-size: 1.1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #FF0000;
    border: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.contact-form input[type="submit"]:hover {
    background: #111;
}

.map iframe {
    width: 100%;
    min-height: 400px;
    border: none;
    padding: 2em;
    background: #ececee;
}

#contact {
    background: #f4f4f4;
}


/*-- //contact--*/
/*--gallery--*/
.gallery-grids {
    padding:5px;
}
.gallery-box {
    display: block;
    overflow: hidden;
    width: 100%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
/*--.gallery-box img{
    max-width: inherit;--*/
.gallery {
    padding: 5em 0;
}
/*--image-zoom--*/
img.zoom-img {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
}
img.zoom-img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 750ms;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-duration: 750ms;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    overflow: hidden;
}
/*--//image-zoom--*/
/*--//gallery--*/
.test-grid i {
    width: 50px;
    height: 50px;
    line-height: 46px;
    border-width: 2px;
    border: 2px solid #1b1b1b;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.test-grid h4 {
    font-size: 1.2em;
    color: #FF0000;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 1em 0 0.2em;
}

.test-grid p {
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 1px;
    margin: 0 auto 1em;
    width: 78%;
}

.test-grid span {
    font-size: 0.9em;
    color: #484747;
    letter-spacing: 4px;
}

.wthree_head_section.test h3 {
    color: #111;
}

.test-grid1 {
    margin: 0 auto 2em;
    text-align: center;
    width: 20%;
}

.test-grid {
    text-align: center;
}

.test-grid2 {
    float: left;
}

.test-grid2_text {
    float: left;
    margin-left: 1em;
    text-align: left;
}
.about-top p {
    font-size: 1em;
    color:#777676;
    width: 50%;
    line-height: 1.8em;
    margin: 0 auto;
}
.about-agile {
    background: url(../images/_NNB8714.jpg)no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    text-align: center;
    padding:5em 0;
}
.about-bottom.inner-padding {
    padding: 5em 0;
}
.team {
    padding: 5em 0;
}
.about-layer1 {
    padding-bottom: 5em;
}
.about-agile p {
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    margin: 1em auto 0em;
    line-height: 1.8em;
}
.about-bott-right {
    text-align: left;
}
.about-bott-right h5 {
    color: #f8b239;
    font-size: 24px;
    margin-bottom: 0.7em;
    font-weight: bold;
    letter-spacing: 2px;
}
.about-bott-right p {
    font-size: 17px;
    color: #777;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}
/*--//inner About --*/
/*-- team --*/
.agile_team_grid h4{
    font-size:1.5em;
    color:#000;
    margin:1em 0 .5em;
/*-- agileits --*/
}
.agile_team_grid p {
    color: #999;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.agile_team_grid {
    text-align: center;
}
.view {
    margin: 0;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view,.view .mask,.view .content{
    width: 255px;
    height: 298px;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h5 {
    text-transform: capitalize;
    color:#f8b239;
    text-align: center;
    position: relative;
    font-size: 1.7em;
    margin:2.5em 0 .5em;
}
.view p {
    /* font-style: italic; */
    line-height: 1.8em;
    font-size: 15px;
    position: relative;
    color: #fff;
    padding: 0px 20px 20px;
    text-align: center;
}
.view-sixth img {
    -webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
    width: 100%;
}
.view-sixth .mask {
   background-color:rgba(34, 33, 33, 0.54);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
}
.view-sixth h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.agile_team_grid:hover .view-sixth .mask,.view-sixth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .view-sixth img,.view-sixth:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .view-sixth h5,.view-sixth:hover h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.agile_team_grid:hover .view-sixth p,.view-sixth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view-sixth .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.agile_team_grid:hover .view-sixth .agileits_social_icons,.view-sixth:hover .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
/*-- //team --*/
/*-- icons --*/

.grid_3.grid_4.w3_agileits_icons_page {
    margin: 0;
}

ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

ul.bs-glyphicons-list li:hover span {
    color: #fff;
}

.codes a {
    color: #555;
}

.row.fontawesome-icon-list {
    margin: 0;
}

.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}

.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.icon-box:hover i.fa {
    color: #fff !important;
}

.icon-box:hover a.agile-icon {
    color: #fff !important;
}

.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
}

.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

h3.icon-subheading {
    font-size: 25px;
    color: #FF0000;
    margin: 30px 0 15px;
    font-weight: 600;
}

h3.agileits-icons-title {
    text-align: center;
    font-size: 35px;
    color: #000;
    font-weight: 300;
}

.icons a {
    color: #555;
}

.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}

.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
    cursor: pointer;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

@media (max-width:1080px) {
    .icon-box {
        width: 33.33%;
    }
}

@media (max-width:991px) {
    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .icon-box {
        width: 50%;
    }
    .f-bg-w3l {
        padding: 4em 2em 4em 2em;
    }
}

@media (max-width:768px) {
    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 25px;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .icon-box {
        margin: 0;
    }
}
@media (max-width: 667px) {
    .test-grid h4 {
        font-size: 1em;
    }
    .examples {
        width: 95%;
        margin: 4em auto 2em;
    }
    .test-grid1 {
        width: 38%;
    }
}
@media (max-width: 640px) {
    .icon-box {
        float: left;
        width: 50%;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .grid_3.grid_4.w3_agileits_icons_page {
        margin-top: 0;
    }
    .test-grid1 {
        width: 41%;
    }
}

@media (max-width: 480px) {
    .bs-glyphicons li {
        width: 31%;
    }
    h3.agileits-icons-title {
        font-size: 25px;
    }
    h3.icon-subheading {
        font-size: 19px;
    }
}

@media (max-width: 414px) {
    h3.agileits-icons-title {
        font-size: 23px;
    }
    h3.icon-subheading {
        font-size: 18px;
    }
    .bs-glyphicons li {
        width: 31.33%;
    }
}

@media (max-width: 384px) {
    .icon-box {
        float: none;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .w3_agileits_icons_page {
        margin: 0 !important;
    }
}


/*-- //icons --*/

.priceing-table-main {
    margin: 4em auto 0;
    width: 88%;
}

.price-list ul {
    padding: 0px;
    list-style: none;
}

.price-gd-top {
    background: #6a67ce;
    padding: 2em 0;
    text-align: center;
}
.price-list ul li:nth-child(2),.price-list ul li:nth-child(4) {
    background: #f5f5f9;
}
.price-gd-top h4 {
    font-size: 1.4em;
    color: #fff;
    padding: 0.4em 1em;
    font-weight: 400;
    text-transform: uppercase;
}

.price-gd-top h3 {
    padding: 0.2em 0em 0.1em 0em;
    font-size: 3em;
    color: #fff;
    font-weight: 800;
}

.price-gd-top h5 {
    font-size: 1em;
    color: #fff;
    padding: 0.2em 0em 0.8em 0em;
}

.price-gd-bottom {
    background: #fff;
    text-align: center;
    padding: 1em 0em;
}

.price-gd-top.pric-clr2 {
    background: #ffb900;
}

.price-selet.pric-sclr2 a {
    background: #ffb900;
}

.price-gd-top.pric-clr3 {
    background: #fc636b;
}

.price-selet.pric-sclr3 a {
    background: #fc636b;
}

.price-list ul li {
    padding: 1em 0em;
    font-size: 1em;
    color: #999999;
    border-bottom: 1px solid #f1efeffa;
}

.price-selet {
    padding: 2em 0em 1em 0;
    text-align: center;
    background: #fff;
}

.price-selet a {
    font-size: 1.1em;
    color: #fff;
    display: block;
}

.price-selet a {
    font-size: 1em;
    color: #ffffff;
    display: inline-block;
    padding: 0.7em 2em;
    background: #6a67ce;
    text-decoration: none;
}

.price-block {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.price-block:hover,
.w3layouts-pricing:hover,
.w3-agileits-vpn-grid:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 1;
}

.book-form input[type="text"],
.book-form input[type="email"],
.book-form input[type="password"] {
    width: 99%;
    color: #555;
    outline: none;
    font-size: 0.9em;
    padding: .6em 1em;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    margin-bottom: 1.5em;
    line-height: 1.8em;
    letter-spacing: 1px;
}

.modal-header.book-form form {
    margin-top: 1.5em;
}

.book-form input[type=submit] {
    color: #FFFFFF;
    padding: 1em 1em;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    background: #FF0000;
    width: 100%;
    font-weight:600;
    letter-spacing:1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.book-form input[type=submit]:hover{
    background:#fc636b;
}
.price-block:hover .price-gd-top{
     background:#FF0000;
}
.price-block:hover .price-selet a{
     color: #fff;
     background:#FF0000;
         -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.check-box input[type="checkbox"]+label {
    position: relative;
    padding-left: 2em;
    border: none;
    outline: none;
    font-size: 1em;
    color: #555;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
}

.check-box {
    margin-bottom: 1.5em;
}

.check-box input[type="checkbox"] {
    display: none;
}

.check-box input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.check-box input[type="checkbox"]+label span:first-child {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #555;
    position: absolute;
    left: 0;
    top: 1px;
}

.modal-header.book-form {
    padding: 2em 2em;
}

.modal-header h4 {
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0c0d0d;
    margin: 0.5em 0 1em 0;
}


/*--Typography--*/

.well {
    font-weight: 300;
    font-size: 14px;
}

.list-group-item {
    font-weight: 300;
    font-size: 14px;
}

li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}

.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}

.grid_3 {
    margin-bottom: 2em;
}

.xs h3,
h3.m_1 {
    color: #000;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 1em;
}

.grid_3 p {
    color: #555;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}

.grid_4 {
    background: none;
    margin-top: 50px;
}

.label {
    font-weight: 300 !important;
    border-radius: 4px;
}

.grid_5 {
    background: none;
    padding: 2em 0;
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg,
h3.bars {
    margin-bottom: 1em;
    color: #FF0000;
    font-weight: 600;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 0;
}

.badge-primary {
    background-color: #03a9f4;
}

.badge-success {
    background-color: #8bc34a;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-danger {
    background-color: #e51c23;
}

.grid_3 p {
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}

.bs-docs-example {
    margin: 1em 0;
}

section#tables p {
    margin-top: 1em;
}

.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: #ffffff;
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 15px!important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    font-size: 0.9em;
    color: #555;
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.label {
    font-weight: 300 !important;
}

.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
}

.alert {
    font-size: 0.85em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
    line-height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li.list-group-item1 {
    line-height: 2.5em;
}

.input-group {
    margin-bottom: 20px;
}

.in-gp-tl {
    padding: 0;
}

.in-gp-tb {
    padding-right: 0;
}

.list-group {
    margin-bottom: 48px;
}

ol {
    margin-bottom: 44px;
}

h2.typoh2 {
    margin: 0 0 10px;
}

@media (max-width:800px) {
    .grid_3.grid_5.w3ls,
    .grid_3.grid_5.w3l,
    .grid_3.grid_5.agileits,
    .grid_3.grid_5.agileinfo,
    .grid_3.grid_5.wthree {
        margin: 0;
    }
}

@media (max-width:768px) {
    .grid_5 {
        padding: 0 0 1em;
    }
    .grid_3 {
        margin-bottom: 0em;
    }
    .grid_3.grid_5.w3l {
        margin-top: 1.5em;
    }
}

@media (max-width:640px) {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grid_5 h3,
    .grid_5 h2,
    .grid_5 h1,
    .grid_5 h4,
    .grid_5 h5,
    h3.hdg,
    h3.bars {
        margin-bottom: .5em;
    }
    ol.breadcrumb li,
    .grid_3 p,
    ul.list-group li,
    li.list-group-item1 {
        font-size: 14px;
    }
    .breadcrumb {
        margin-bottom: 25px;
    }
    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2.typoh2 {
        font-size: 1.5em;
    }
    .label {
        font-size: 60%;
    }
    .in-gp-tl {
        padding: 0 1em;
    }
    .in-gp-tb {
        padding-right: 1em;
    }
    .list-group {
        margin-bottom: 20px;
    }
}

@media (max-width:480px) {
    .grid_5 h3,
    .grid_5 h2,
    .grid_5 h1,
    .grid_5 h4,
    .grid_5 h5,
    h3.hdg,
    h3.bars {
        font-size: 1.2em;
    }
    .table h1 {
        font-size: 26px;
    }
    .table h2 {
        font-size: 23px;
    }
    .table h3 {
        font-size: 20px;
    }
    .label {
        font-size: 53%;
    }
    .alert,
    p {
        font-size: 14px;
    }
    .pagination {
        margin: 20px 0 0px;
    }
    .grid_3.grid_4.w3layouts {
        margin-top: 0;
    }
}

@media (max-width: 320px) {
    .grid_4 {
        margin-top: 18px;
    }
    h3.title {
        font-size: 1.6em;
    }
    .alert,
    p,
    ol.breadcrumb li,
    .grid_3 p,
    .well,
    ul.list-group li,
    li.list-group-item1,
    a.list-group-item {
        font-size: 13px;
    }
    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }
    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .well {
        padding: 10px;
    }
    .nav>li>a {
        font-size: 14px;
    }
    table.table.table-striped,
    .table-bordered,
    .bs-docs-example {
        display: none;
    }
}


/*-- //typography --*/


/*-- footer --*/

.footer {
    background: #0b0c11;
}

.f-bg-w3l {
    background: rgba(0, 0, 0, 0.58);
    padding: 7em 3em 5em 3em;
}

.w3layouts_footer_grid h2,
.w3layouts_footer_grid h3 {
    font-size: 1.5em;
    color: #fff;
    position: relative;
    margin-bottom: 1.5em;
    letter-spacing: 2px;
}
h3.heading-agileinfo.white-w3ls {
    color: #fff;
    font-size: 35px;
    line-height: 48px;
}
.more-button a {
    font-size: 15px;
    background: #f8b239;
    color: #fff;
    padding: 8px 25px;
    display: inline-block;
    margin-top: 2em;
}
.more-button a:hover{
    background: #000;
}
ul.links li {
    list-style: none;
    color: #fff;
    margin-bottom: 10px;
}

.w3layouts_footer_grid h2 span,
.w3layouts_footer_grid h3 span {
    color: #FF0000;
}

ul.links li a {
    color: #fff;
}

.social_agileinfo li {
    display: inline-block;
}

.social_agileinfo li a {
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.social_agileinfo li a i {
    font-size: 1em;
    line-height: 2.8em;
}

.w3_facebook:hover {
    border: 1px solid #3b5998;
    background: #3b5998;
}

.w3_twitter:hover {
    border: 1px solid #1da1f2;
    background: #1da1f2;
}

.w3_instagram:hover {
    border: 1px solid #833ab4;
    background: #833ab4;
}

.w3_google:hover {
    border: 1px solid #dd4b39;
    background: #dd4b39;
}

.w3l_footer_nav {
    margin: 3em 0 3em;
}

.w3l_footer_nav li {
    display: inline-block;
    margin-right: 4em;
}

.w3l_footer_nav li a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

.w3l_footer_nav li a:hover,
.w3l_footer_nav li a.active {
    color: #FF0000;
}

.w3layouts_footer_grid p {
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 2em;
}

p.copyright {
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0em;
    background: #0e0e13;
    padding: 10px 0;
}

p.copyright a {
    color: #fff;
    text-decoration: underline;
}

p.copyright a:hover {
    color: #FF0000;
}

.w3layouts_footer_grid form {
    border: 1px solid #fff;
    width: 100%;
}

.w3layouts_footer_grid input[type="email"] {
    outline: none;
    padding: 15px 15px;
    color: #fff;
    font-size: 14px;
    width: 88%;
    border: none;
    background: rgba(0, 0, 0, 0.22);
    letter-spacing: 2px;
}

button.btn1 {
    color: #fff;
    border: none;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    background: #FF0000;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    width: 12%;
}

ul.con_inner_text li {
    list-style-type: none;
    color: #bfbfbf;
    font-size: 14px;
    margin-bottom: 17px;
}

ul.con_inner_text li label {
    display: block;
    margin-left: 1.7em;
}

ul.con_inner_text span {
    margin-right: 13px;
}

ul.con_inner_text li a {
    color: #bfbfbf;
}

ul.con_inner_text li label {
    color: #bfbfbf;
    margin-right: 1em;
    font-weight: 400!important;
}

ul.con_inner_text.midimg li {
    display: inline-block;
    float: left;
    width: 22%;
}


/*-- //footer --*/


/*--social icons--*/

.agile_inner {
    background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 261px;
}

.services-breadcrumb {
    padding: 1em 0;
    background: #f5f5f5;
    text-align: center;
}

.services-breadcrumb ul li span {
    padding: 0 1.5em;
}

ul.w3_short {
    text-align: left;
}

.agile_inner_breadcrumb {
    padding: 0 4em;
}

ul.w3_short li a {
    color: #FF0000;
    text-decoration: none;
}

.banner_bottom_w3ls_info {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.medile_agile_its_section {
    text-align: center;
    background: #0b0c11;
    padding: 4em 0;
}

.banner_bottom_w3ls_info p {
    margin: 2em 0;
    line-height: 2em;
}

ul.w3_short li {
    display: inline-block;
    text-transform: uppercase;
    color: #030408;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 2px;
}

.medile_agile_its_blue h4 {
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    margin: 0em auto;
    letter-spacing: 2px;
    padding-top: 15px;
}

.banner-bottom.service_agile {
    background: #f4f4f4;
}


/*--timer--*/

.event-count {
    background: #FF0000;
    padding: 6em 0;
}

.countdown-timer {
    text-align: center;
    margin-top: 2em;
}

.countdown-timer p {
    color: #068076;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 6px;
    text-shadow: 2px 2px 2px rgba(3, 115, 106, 0.32);
}

.simply-section {
    display: block;
    width: 23%;
    float: left;
    text-align: center;
    background: rgb(12, 199, 185);
    margin-left: 2%;
    padding: 6% 2%;
    border: 1px solid #03b5a8;
}

.countdown-timer h3 {
    font-weight: 200;
    font-size: 3em;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
}

.countdown-timer h4 {
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    font-size: 2em;
    text-transform: uppercase;
}

.examples {
    width: 49%;
    margin: 4em auto 4.2em;
}

.countdown-timer h3 span {
    color: #ff8c00;
}

span.simply-amount {
    font-size: 3.5em;
    line-height: 0;
    font-weight: 100;
    color: #fff;
}

span.simply-word {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 5px;
    text-transform: uppercase;
    color: #0f1010;
    display: block;
    margin-top: 15%;
}

.tab-info-img img {
    width: 100%;
}

.tab-info {
    margin-top: 4em;
}

.tab-info p {
    line-height: 2em;
}

.tab-info h4 {
    font-size: 1.6em;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 1em;
}


/*-- //Countdown-Timer --*/


/*--/timer--*/


/*--responsive--*/

@media(max-width:1440px) {
    .mid-one,
    .mid-two {
        min-height: 600px;
    }
    .w3-button {
        margin: 2em auto 0;
        text-align: center;
        width: 38%;
    }
    .w3layouts_footer_grid h2, .w3layouts_footer_grid h3 {
        font-size: 1.4em;
        margin-bottom: 1.5em;
        letter-spacing: 1px;
    }
    .w3layouts_footer_grid input[type="email"] {
        padding: 15px 15px;
        font-size: 14px;
        width: 82%;
    }
    button.btn1 {
        float: right;
        width: 18%;
    }
    .agile_banner_text_info p {
    width: 46%;
}
}
@media(max-width:1366px) {
    h3.agile_tittle {
        font-size: 2.5em;
    }
    .wthree_head_section h2 {
        font-size: 3em;
    }
    .team,
    .contact-w3layouts,
    .agile_testimonials,.plans-section {
        padding: 5em 0;
    }
    .agile_wthree_inner_grids {
        margin-top: 3em;
    }
    .w3layouts_stats_left p {
        font-size: 3em;
    }
    .w3layouts_stats_left span {
        font-size: 2.3em;
    }
}

@media(max-width:1280px) {
    #welcome,
    .banner-bottom.service_agile {
        padding: 4em 0;
    }
   .agile_banner_text_info {
        top: 40%;
    }
    .agile_banner_text_info h3 {
        font-size: 4.5em;
        letter-spacing: 3px;
    }
    .w3-button {
        margin: 2em auto 0;
        width: 38%;
    }
   .services {
        padding: 7em 0 0 0;
        min-height: 758px;
    }
    .banner-bottom {
        padding: 5em 0;
    }
    .w3l_header {
        font-size: 2.7em;
    }
    .f-bg-w3l {
        background: rgba(0, 0, 0, 0.58);
          padding: 4em 3em 4em 3em;
    }
    ul#slider li:nth-child(1),
    ul#slider li:nth-child(2),
    ul#slider li:nth-child(3),
    ul#slider li:nth-child(4),
    ul#slider li:nth-child(5),
    ul#slider li:nth-child(6){
        min-height: 650px;
    }
    .w3-button {
        margin: 2em auto 0;
        width: 40%;
    }
    .main_section_agile.inner {
        min-height: 70px;
    }
    .agile_banner_text_info p {
    width: 50%;
}
}
@media(max-width:1080px) {
    main_section_agile.inner {
        min-height: 300px;
    }
    .agile_banner_text_info {
        top: 41%;
    }
    .bar-grids.w3-agile {
        padding: 4em 4em;
    }
    .wthree_skills {
        margin-top: 3em;
    }
    .skills {
        min-height: 620px;
    }
    .bar-grids h6 {
        font-size: 0.9em;
    }
    .test-grid h4 {
        font-size: 1.15em;
    }
    .contact-form.agile_inner_grids {
        padding: 3em 3em;
    }
    .wthree_head_section h2 {
        font-size: 2.5em;
    }
    .team,
    .contact-w3layouts,
    .agile_testimonials,
    .plans-section {
        padding: 4em 0;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.2em;
    }
    .w3l_header {
        font-size: 2.7em;
    }
    .about h4 {
        font-size: 1.6em;
    }
    .test-grid p {
        font-size: 14px;
        line-height: 2em;
        letter-spacing: 1px;
        margin: 0 auto 1em;
        width: 98%;
    }
    .nav>li {
        margin: 0em 0.4em;
    }
    #portfolio {
        padding-top: 4em;
    }
    .mid-one,
    .mid-two {
        min-height: 500px;
    }
    .mid-inner-info {
        margin-top: 4em;
    }
    .mid-inner-info h5 {
        font-size: 1.2em;
        letter-spacing: 1px;
    }
    .agile_banner_text_info h3 {
        font-size: 3.8em;
        letter-spacing: 2px;
    }
    .agile_banner_text_info p {
    letter-spacing: 4px;
    margin: 1em auto;
    font-size: 1em;
    width: 64%;
}
    .w3-button {
        margin: 2em auto 0;
        width: 46%;
    }
    .blog-txt {
    padding: 50px;
}
    .agileits-button.two a,
    .agileits-button a {
        padding: 0.8em 1em;
        margin-top: 1.5em;
    }
    ul#slider li:nth-child(1),
    ul#slider li:nth-child(2),
    ul#slider li:nth-child(3),
    ul#slider li:nth-child(4),
    ul#slider li:nth-child(5),
    ul#slider li:nth-child(6) {
        min-height: 526px;
    }
    .event-count {
        padding: 4em 0;
    }
    .examples {
        width: 66%;
        margin: 4em auto 4.2em;
    }
    .navbar-nav>li>a {
       margin: 0 1em;
    }
.about1 h4 {
    font-size: 25px;
}
.grid1 {
    padding: 4em 2em;
}
.view, .view .mask, .view .content {
    width: 210px;
    height: 265px;
}
}
@media(max-width:1050px) {
    .agile_banner_text_info h1 span {
        letter-spacing: 2px;
        font-size: 14px;
    }
    .skills {
        min-height: 549px;
    }
    .test-grid1 {
        width: 28%;
    }
    .mid-one,
    .mid-two {
        min-height: 300px;
    }
    .mid-text-info {
        padding: 3em 2em 3em 2em;
    }
    .w3layouts_stats_left h3 {
        font-size: 0.9em;
        letter-spacing: 1px;
    }
    .services {
        padding: 6em 0 0 0;
    }
    .main_section_agile.inner {
        min-height: 70px;
    }
    .w3-button {
        margin: 2em auto 0;
        width: 49%;
    }
    .agile_banner_text_info {
        top: 41%;
    }
    .w3layouts_footer_grid {
        width: 50%;
        float: left;
    }
    ul.con_inner_text.midimg li {
        display: inline-block;
        float: left;
        width: 33%;
    }
    .tab-info {
        margin-top: 2em;
    }
}

@media(max-width:1024px) {
   .agile_banner_text_info {
        top: 39%;
    }
    ul.con_inner_text.midimg li {
        display: inline-block;
        float: left;
        width: 22%;
    }
    .w3layouts_footer_grid:nth-child(3),.w3layouts_footer_grid:nth-child(4) {
        margin-top: 2em;
    }
    .tab-info {
        margin-top: 2em;
    }
    .agile_banner_text_info h3 {
    font-size: 3.5em;
}
.view, .view .mask, .view .content {
    width: 205px;
    height: 259px;
}
.view h5 {
    margin: 1.5em 0 .5em;
}
}
@media(min-width:992px) {
    #three_grids {
        display: flex;
    }
    .mid-one,
    .mid-two {
        float: none;
    }
    .banner-bottom.inner {
        padding:5em 0 5em 0;
    }
    a.navbar-brand {
    font-size: 1em;
}
.navbar-nav>li>a {
    margin: 0 0.5em;
}
.nav>li {
    margin: 0em 0.1em;
}
}
@media(max-width:991px) {
    .w3-agileits-services-right {
        padding: 0;
        margin-top: 2em;
    }
    .portfolio-grids {
        padding: 0;
        float: left;
    }
    .test-grid2 {
        padding: 0;
        margin-bottom: 3em;
    }
    .portfolio-grids {
        padding: 0;
        float: left;
        width: 50%;
    }
    .portfolio-grid_left {
        padding: 0;
        float: left;
        width: 50%;
    }
    .skills,
    .contact_img_agile {
        min-height: 450px;
    }
    .w3l_footer h2 a {
        letter-spacing: 1.5px;
        font-size: 1em;
    }
    .botttom-nav-agileits {
        padding: 0;
    }
    .arrow-container {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 52%;
    }
    .about_agileinfo_grid_imgs {
        padding: 0;
        margin-top: 2em;
    }
    .w3layouts_stats_left {
        text-align: center;
        float: left;
        width: 25%;
        padding: 0;
    }
    .w3layouts_footer_grid {
        margin-top: 1em;
    }
    .agileits_banner_bottom_left:nth-child(2) {
        margin: 1em 0;
    }
    .test-grid1 {
        width: 31%;
    }
    .w3layouts_stats_left p {
        font-size: 2.5em;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.4em;
    }
    .agile_inner {
        min-height: 200px;
    }
    .banner_bottom_w3ls_info {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
    .agile_banner_text_info {
        top: 37%;
    }
    .w3_agileits_banner_bottom_pos_grid {
        float: left;
        width: 100%;
        margin-bottom: 2em;
    }
    .mid-text-info {
        padding: 3em 1em 3em 1em;
        text-align: center;
    }
    .about_agileinfo {
        padding-left: 0;
    }
    .mid-inner-info {
        margin-top: 2em;
    }
    .services {
        padding: 5em 0 3em 0;
        min-height: 630px;
    }
    .mid-one,
    .mid-two {
        min-height: 300px;
        float: none;
        width: 100%;
    }
    .about_agileinfo_grid_imgs img {
        width: 65%;
    }
    .mid-inner-sec {
        float: left;
        width: 50%;
    }
    .agileits_w3layouts_banner_nav {
        padding: 0em 0em;
    }
    #three_grids {
        display: block;
    }
    .price-grid {
        float: left;
        width:33%;
    }
    .priceing-table-main {
        margin: 4em auto 0;
        width: 100%;
    }
    .skills, .contact_img_agile {
        min-height: 340px;
    }
    .d-flex {
    flex-direction: column-reverse;
}
.about2 {
    height: 300px;
    margin-bottom: 30px;
}
.agile_banner_text_info h3 {
    font-size: 3em;
    letter-spacing: 2px;
}
.agile_banner_text_info p {
    width: 90%;
}
.we-w3l {
    padding-left: 0;
    float: left;
    width: 30%;
}
.in-block {
    display: inline-block;
    float: left;
    width: 60%;
}
.ser-lef-agile {
    margin-bottom: 2em;
}
.about-3 {
    padding: 3em 0;
}
.wthree_head_section {
    margin-bottom: 3em;
}
.ser-agile {
    padding: 3em 0 1em;
}
.testimonals {
    padding: 3em 0;
}
.stats {
    padding: 3em 0;
}
.wthree-blog {
    padding: 3em 0;
}
.blog-txt {
    padding: 14px;
}
.f-bg-w3l {
    padding: 3em 1em 3em 1em;
}
.agile_team_grid {
    text-align: center;
    float: left;
    width: 50%;
    margin-bottom:2em;
}
.view, .view .mask, .view .content {
    width: 280px;
    height: 259px;
    margin: 0 auto;
}
.team {
    padding: 3em 0 1em;
}
.about-agile {
    padding: 3em 0;
}
h3.heading-agileinfo.white-w3ls {
    font-size: 23px;
    line-height: 37px;
}
.about-bottom.inner-padding {
    padding: 3em 0;
}
.about-bott-right p {
    font-size: 15px;
    line-height: 28px;
}
.gallery-grids {
    float: left;
    width: 50%;
}
.gallery {
    padding: 3em 0;
}
.banner-bottom.inner {
    padding: 3em 0;
}
.banner-bottom {
    padding: 3em 0;
}
}
@media(max-width:900px) {
    .agile_banner_text_info {
        top: 41%;
    }
}
@media(max-width:800px) {
    .w3-button {
        margin: 2em auto 0;
        width: 54%;
    }
    .agile_banner_text_info {
        top: 38%;
    }
    .p-mask p {
        margin: 0;
        line-height: 1.8em;
        font-size: 13px;
    }
    .navbar-nav>li>a {
        margin: 0 0.2em;
    }
    .w3-button {
        margin: 2em auto 0;
        width: 56%;
    }
}

@media(max-width:768px) {
    .skills,
    .contact_img_agile {
        min-height: 400px;
    }
    .w3ls-button a,
    .w3l-button a,
    .w3ls-about-left a {
        text-decoration: none;
        padding: .6em 1.3em;
    }
    .navbar-default .navbar-nav>li>a {
        font-weight: 400;
        letter-spacing: 0px;
    }
    .navbar-nav>li>a {
        margin: 0 0.6em;
        padding: 1.6em 0em;
        text-transform: uppercase;
    }
    .rslides_tabs li {
        display: inline-block;
        margin: 0 1px;
    }
    .nav>li {
        margin: 0em 0em;
    }
}

@media(max-width:767px) {
    .mobile-nav-button {
        margin: 1.5em 0em 0;
        right: 3%;
    }
    .services-right-grids:nth-child(2) {
        margin: 0em 0;
    }
    .services-right-grid {
        margin-bottom: 1em;
        padding: 0;
    }
    .w3-agileits-services-left {
        min-height: 345px;
    }
    .navbar-brand {
        font-size: .8em;
    }
    .navbar-toggle {
        margin: 0em 0 0;
        padding: 12px 10px;
    }
    .navbar-default .navbar-toggle {
        border: none;
        background: #0b0c11;
        border-radius: 0;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        position: absolute;
        width: 100%;
        z-index: 9999;
        background: #ededef;
        padding: 0em 0;
        margin-top: 1em;
    }
    .navbar-collapse.in {
        overflow-y: inherit;
    }
    .w3_agileits_search {
        width: 45%;
        float: none;
        margin: 0 auto;
    }
    .w3_agileits_search input[type="submit"] {
        width: 7%;
        background-position: 0px 5px;
    }
    .w3_agileits_search input[type="search"] {
        width: 91%;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: #FF0000;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .agileits_w3layouts_banner_nav {
        padding: 0.5em 1em;
    }
    .navbar-right {
        width: 100%;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
    }
    .navbar-nav {
        margin: 0;
        text-align: center;
    }
    .navbar-nav>li>a {
        padding: 10px 25px;
        letter-spacing: 1px;
        font-size: 1.1em;
        display: inline-block;
    }
    .navbar-nav .open .dropdown-menu {
        background-color: #ededef;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #222;
        padding: 7px 0;
    }
    .w3layouts-banner-top,
    .w3layouts-banner-top1,
    .w3layouts-banner-top2 {
        min-height: 450px;
    }
    .agileits-banner-info p {
        font-size: 0.9em;
        letter-spacing: 9px;
    }
    .agileits-banner-info {
        padding: 10em 0 0em;
    }
    .banner-bottom h2 {
        font-size: 1.5em;
    }
    .w3-agile-post-img a ul {
        padding: 7em 1em 0 2em;
    }
    .w3-agile-post-img a {
        min-height: 350px;
    }
    .w3-agile-post-img a ul li {
        font-size: 0.8em;
        padding: .5em 0em;
        width: 17%;
    }
    .w3-agile-post-info ul li:nth-child(2) {
        margin: 0 0 0 35em;
    }
    ul.nav.navbar-nav {
        margin: 0em 0 0em 0;
        z-index: 9999;
    }
    nav.navbar.navbar-default {
        background: none;
        padding: 1em 0 0.2em 0;
    }
    ul.agile_forms {
        margin-bottom: 1em;
    }
    .agileits_w3layouts_event_grid1 h5 a {
        font-size: 1.2em;
        letter-spacing: 2px;
    }
    .agile_short_dropdown li a {
        border-bottom: 1px solid #000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #FF0000;
    }
    .nav>li {
        margin: 0.7em 0em;
    }
    .agile_banner_text_info {
        top: 32%;
    }
    .w3layouts_stats_left h3 {
        font-size: 1em;
        letter-spacing: 1px;
    }
    .bar-grids.w3-agile {
        padding: 4em 2em;
    }
    .contact-form.agile_inner_grids {
        padding: 3em 2em;
    }
    .skills,
    .contact_img_agile {
        min-height: 364px;
    }
    .navbar-default .navbar-nav>li>a {
        color: #222;
    }
    .agile_banner_text_info h3 {
        font-size: 3em;
        letter-spacing: 2px;
    }
    .agile_banner_text_info {
        top: 32%;
    }
    .navbar-header.navbar-left {
        margin-top: 0;
    }
    nav.navbar.navbar-default {
        background: none;
        padding: 0.7em 0 0em 0;
    }
    .w3l_header {
        font-size: 2.5em;
    }
    .test-grid1 {
        width: 33%;
    }
    a.navbar-brand {
    font-size: 1em;
    }
    .blog-box {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    flex-direction: column-reverse;
}
.blog-txt {
    padding: 50px;
}
.blog-txt {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
}
.blog-box img {
    width: 100%;
}
}
@media(max-width:736px) {
    .w3layouts_stats_left h3 {
        font-size: 0.9em;
        letter-spacing: 2px;
    }
    .w3l_footer_nav li {
        margin-right: 2em;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.2em;
    }
}

@media(max-width:667px) {
    h3.agile_tittle span {
        letter-spacing: 2px;
        display: block;
        font-size: 15px;
    }
    .about h4 {
        font-size: 1.8em;
    }
    .wthree_head_section h2 {
        font-size: 2.3em;
    }
    h3.agile_tittle {
        font-size: 2em;
    }
    .about h4 {
        font-size: 1.6em;
    }
    .botttom-nav-agileits ul.nav-w3ls li {
        margin: 0px 10px;
    }
    p.agileits_w3ls_copyright {
        letter-spacing: 1px;
    }
    .test-grid1 {
        width: 35%;
    }
    #portfolio {
        padding-top: 3em;
    }
    .agile_wthree_inner_grids {
        margin-top: 2em;
    }
    #welcome {
        padding: 3em 0;
    }
    .medile_agile_its_blue h4 {
        font-size: 1.4em;
    }
    .medile_agile_its_section {
        padding: 2em 0;
    }
    .agile_banner_text_info p {
        letter-spacing: 3px;
        margin: 1em 0 0em auto;
        font-size: 1em;
    }
    .agile_banner_text_info h3 {
        font-size: 2.8em;
        letter-spacing: 1px;
    }
    .w3-button {
        margin: 1em auto 0;
        width: 65%;
    }
    .agile_banner_text_info {
        top: 38%;
    }
    .mid-text-info h4 {
        font-size: 1.4em;
    }
    .main_section_agile.inner {
        min-height: 50px;
    }
    .skills,
    .contact_img_agile {
        min-height: 250px;
    }
    ul#slider li:nth-child(1),
    ul#slider li:nth-child(2),
    ul#slider li:nth-child(3),
    ul#slider li:nth-child(4),
    ul#slider li:nth-child(5),
    ul#slider li:nth-child(6) {
        min-height: 428px;
    }
    .p-mask h4 {
       font-size: 1em;
    }
    .price-grid {
        float: left;
        width: 50%;
    }
     .price-grid:nth-child(3) {
         margin-top:2.5em;
     }
     .f-bg-w3l {
        padding: 3em 2em 3em 2em;
    }
    .w3layouts_footer_grid {
        width: 100%;
        float: left;
    }
    .w3layouts_footer_grid:nth-child(2),.w3layouts_footer_grid:nth-child(3), .w3layouts_footer_grid:nth-child(4) {
        margin-top: 2em;
    }
}

@media(max-width:640px) {
    .skills,
    .contact_img_agile {
        min-height: 311px;
    }
    .bar-grids.w3-agile {
        padding: 3em 1em;
    }
    .team,
    .contact-w3layouts,
    .agile_testimonials,
    .banner-bottom,
    .banner-bottom.inner,.plans-section {
        padding: 3em 0;
    }
    .contact-form.agile_inner_grids {
        padding: 0em 0em;
    }
    .f-bg-w3l {
        padding: 2.5em 1em 2.5em 1em;
    }
    ul.nav-w3ls {
        float: none;
        margin-top: 1em;
        text-align: center;
    }
    .w3l-social {
        float: none;
        margin-top: 1em;
        text-align: center;
    }
    .portfolio-grids {
        padding: 0;
        float: left;
        width: 100%;
    }
    .main_section_agile.inner {
        min-height: 50px;
    }
    .portfolio-grids {
        padding: 0;
        float: left;
        width: 100%;
    }
    .portfolio-grid_left {
        padding: 0;
        float: left;
        width: 100%;
    }
    .agile_banner_text_info {
        top: 38%;
    }
    .examples {
        width: 90%;
        margin: 3em auto 1.2em;
    }
    .countdown-timer p {
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 4px;
    }
    .agile_inner_breadcrumb {
        padding: 0 2em;
    }
    .modal-header h4 {
       font-size: 1.4em;
    }
}
@media(max-width:600px) {
    .agile_wthree_inner_grids {
        margin-top: 2em;
    }
    .stats {
        padding: 3em 0 2em 0;
    }
    .test-grid1 {
        width: 40%;
    }
    .w3layouts_footer_grid form {
        width: 100%;
        margin-top: 2em;
    }
    .services-breadcrumb {
        padding: 0.5em 0;
    }
    .agile_banner_text_info h3 {
        font-size: 2.5em;
        letter-spacing: 1px;
    }
    .w3-button {
        margin: 1em auto 0;
        width: 71%;
    }
    .w3_agileits_banner_bottom_pos_grid {
        float: left;
        width: 100%;
        margin-bottom: 1em;
    }
    .w3_agileits_banner_bottom_pos_grid.two {
        float: left;
        width: 50%;
        margin-bottom: 1em;
    }
    .agileits_banner_bottom_left {
        padding: 0;
    }
    .w3_agileits_banner_bottom_pos_grid.two {
        float: left;
        width: 100%;
        margin-bottom: 1em;
    }
    .view, .view .mask, .view .content {
    width: 246px;
    height: 259px;
    }
}
@media(max-width:568px) {
    .w3layouts_stats_left {
        float: left;
        width: 50%;
        padding: 0;
        margin-bottom: 2em;
    }
    p.agileits_w3ls_copyright {
        letter-spacing: 1px;
        line-height: 1.9em;
    }
   .test-grid1 {
        width: 44%;
    }
    .w3l_header {
        font-size: 2.5em;
    }
    .agileits-button.two a,
    .agileits-button a {
        font-size: 0.9em;
        margin-top: 1em;
    }
    .mid-inner-sec {
        float: left;
        width: 100%;
        margin-bottom: 1em;
    }
    .w3_agileits_banner_bottom_pos_grid.two {
        float: left;
        width: 100%;
        margin-bottom: 1em;
    }
    .agile_banner_text_info {
        top: 38%;
    }
    .agile_banner_text_info p {
    letter-spacing: 2px;
    margin: 1em auto;
    font-size: 1em;
}
    .w3-button {
        margin: 2em auto 0;
        width: 70%;
    }
    .w3_agileits_banner_bottom_pos_grid.two {
        float: left;
        width: 100%;
        margin-bottom: 2em;
    }
    .view, .view .mask, .view .content {
    width: 230px;
    height: 259px;
}
}
@media(max-width:480px) {
    .wthree_head_section h2 {
        font-size: 2.1em;
        line-height: 1.4em;
    }
    .skills,
    .contact_img_agile {
        min-height: 227px;
    }
    .w3-agileits-services-left {
        min-height: 288px;
    }
    .about h4 {
        font-size: 1.4em;
    }
    .test-grid1 {
        width: 51%;
    }
    .w3layouts_footer_grid {
        margin-top: 1em;
        padding: 0;
    }
    .w3l_footer_nav li a {
        letter-spacing: 1px;
        font-size: 0.9em;
    }
    .w3l_footer_nav li {
        margin-right: 1em;
    }
    .w3layouts_footer_grid p {
        letter-spacing: 1px;
        font-size: 0.9em;
    }
    .agile_inner {
        min-height: 177px;
    }
    .agile_banner_text_info p {
        letter-spacing: 2px;
        margin: 0.7em 0 1em auto;
        font-size: 0.9em;
    }
    .w3l_header {
        font-size: 2.2em;
    }
    .map iframe {
        width: 100%;
        min-height: 250px;
    }
    a.navbar-brand {
        padding: 0;
        font-size: 0.9em;
    }
    .agileits_w3layouts_banner_nav {
        padding: 0.5em 0.5em 0 0.5em;
    }
   .w3-button {
        margin: 1.5em auto 0;
        width: 71%;
    }
    .mid-inner-sec {
        float: left;
        width: 100%;
        margin-bottom: 2em;
        padding: 0;
    }
    .agile_banner_text_info p {
        letter-spacing: 2px;
        margin: 0.3em 0 0em auto;
        font-size: 0.9em;
    }
    .agile_banner_text_info h3 {
        font-size: 2.2em;
        letter-spacing: 1px;
    }
    .w3ls-button a,
    .w3l-button a,
    .w3ls-about-left a {
        text-decoration: none;
        padding: .4em 1em;
        font-size: 0.8em;
    }
    .agile_banner_text_info {
        top: 38%;
    }
    .nav>li {
        margin: 0.3em 0em;
    }
    #three_grids {
        display: block;
    }
    ul#slider li:nth-child(1),
    ul#slider li:nth-child(2),
    ul#slider li:nth-child(3),
    ul#slider li:nth-child(4),
    ul#slider li:nth-child(5),
    ul#slider li:nth-child(6) {
        min-height: 320px;
    }
    .price-grid {
        float: left;
        width: 100%;
    }
    .price-grid:nth-child(3) {
        margin-top: 0em;
    }
    .price-grid:nth-child(2) {
        margin:3em 0;
    }
    .about1 h4 {
    font-size: 23px;
}
.we-w3l {
    width: 47%;
}
.in-block {
    width: 53%;
}
.view, .view .mask, .view .content {
    width: 264px;
    height: 259px;
}
}
@media(max-width:440px) {
    .skills,
    .contact_img_agile {
        min-height: 152px;
    }
    .team,
    .contact-w3layouts,
    .agile_testimonials,
    .plans-section {
        padding: 2.5em 0;
    }
    #welcome {
        padding: 2em 0;
    }
    .test-grid1 {
        width: 56%;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.3em;
    }
    .about h4 {
        font-size: 1.2em;
    }
    ul#slider li:nth-child(1),
    ul#slider li:nth-child(2),
    ul#slider li:nth-child(3),
    ul#slider li:nth-child(4),
    ul#slider li:nth-child(5),
    ul#slider li:nth-child(6) {
        min-height: 279px;
    }
    .w3layouts_footer_grid h2, .w3layouts_footer_grid h3 {
        font-size: 1.4em;
        margin-bottom: 1.3em;
        letter-spacing: 1px;
    }
    span.simply-amount {
         font-size: 2em;
    }
    span.simply-word {
        font-size: 11px;
        letter-spacing: 1px;
        margin-left: 0px;
    }
    .event-count {
        padding: 2em 0;
    }
    .agile_inner_breadcrumb {
        padding: 0 1.2em;
    }
    .countdown-timer p {
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 2px;
    }
    .agile_team_grid {
    width: 100%;
}
}

@media(max-width:414px) {
    h3.agile_tittle {
        font-size: 1.8em;
    }
    .wthree_head_section h2 {
        font-size: 1.8em;
        line-height: 1.4em;
    }
    .botttom-nav-agileits ul.nav-w3ls li {
        margin: 0px 3px;
    }
    .wthree_skills {
        margin-top: 2em;
    }
    .w3l_footer h2 a {
        letter-spacing: 1.5px;
        font-size: 0.8em;
    }
    about h4 {
        font-size: 1.2em;
    }
    .test-grid1 {
        width: 59%;
    }
   .agile_banner_text_info h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
}
    .agile_inner {
        min-height: 157px;
    }
    .agile_banner_text_info {
        top: 40%;
    }
    .w3-button {
        margin: 1.2em auto 0;
        width: 78%;
    }
    .main_section_agile.inner {
        min-height: 50px;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.2em;
    }
    p.copyright {
      margin-top: 0em;
    }
    .mid-one, .mid-two {
        min-height: 206px;
        float: none;
        width: 100%;
    }
    .wthree_head_section {
    margin-bottom: 2em;
}
.about1 h4 {
    font-size: 19px;
}
.about1 {
    padding-right: 0;
}
.we-w3l {
    width: 100%;
    padding:0 1em;
}
.in-block {
    width: 100%;
    margin-top: 1em;
}
.gallery-grids {
    width: 100%;
}
}
@media(max-width:384px) {
    .agile_banner_text_info {
        top: 39%;
    }
    .wthree_head_section h2 {
        font-size: 1.7em;
        line-height: 1.4em;
    }
    h3.agile_tittle {
        font-size: 1.7em;
    }
    .w3layouts_stats_left p {
        font-size: 2em;
    }
    .mobile-nav-button {
        margin: 0.5em 0em 0;
        right: 2%;
    }
    .agile_inner {
        min-height: 122px;
    }
    .agileits-button.two a,
    .agileits-button a {
        font-size: 0.85em;
        margin-top: 1em;
    }
    .w3l_header {
        font-size: 2em;
    }
    .agileits_banner_bottom_left {
        padding: 0;
    }
    .w3l_footer_nav li {
        margin-right: 0.3em;
    }
    a.navbar-brand {
        padding: 0;
        font-size: 0.9em;
    }
    .agileits_w3layouts_banner_nav {
        padding: 0em 1em;
        width: 100%;
    }
    .stats {
        padding: 2.5em 0 0.5em 0;
    }
    .w3layouts_stats_left h3 {
        font-size: 0.9em;
        letter-spacing: 1px;
    }
    .wthree_banner_bottom_grid_left {
        padding: 0;
    }
    .wthree_banner_bottom_grid_right {
        padding: 0;
    }
    .services {
        padding: 2em 0 1em 0;
        min-height: 606px;
    }
    .blog-txt {
    padding: 30px;
}
}

@media(max-width:375px) {
    .w3_agile_team_grid_info:nth-child(2) {
        margin: 7% auto;
    }
    .wthree_head_section h2 {
        font-size: 1.4em;
        line-height: 1.4em;
    }
    .w3layouts_stats_left span {
        font-size: 1.5em;
    }
    .agile_wthree_inner_grids {
        margin-top: 1.5em;
    }
    .test-grid1 {
        width: 67%;
    }
    #play {
        position: absolute;
        top: 17%;
        left: 41%;
        background-size: 81%;
        width: 55px;
        height: 55px;
    }
    .event-left1-right p {
        line-height: 2em;
        margin: 1em 0 0;
    }
    .test-grid h4 {
        font-size: 1em;
    }
    .test-grid span {
        font-size: 0.8em;
        letter-spacing: 2px;
    }
    .agile_banner_bottom_grid_left_grid span {
        font-size: 2em;
        line-height: 51px;
    }
    a.navbar-brand {
        padding: 0;
        font-size: 0.8em;
    }
}

@media(max-width:320px) {
    .agile_banner_text_info label {
        letter-spacing: 2px;
    }
    .agile_banner_text_info {
        top: 25%;
    }
    .w3l_header {
        font-size: 1.8em;
        line-height: 1.5em;
    }
    .test-grid2 {
        padding: 0;
        margin-bottom: 1em;
    }
    .test-grid1 {
        width: 92%;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.2em;
    }
    .agile_banner_bottom_grid_left_grid {
        width: 50px;
        height: 50px;
    }
    .agile_banner_bottom_grid_left_grid span {
        font-size: 1.7em;
    }
    .agile_banner_text_info {
        top: 37%;
    }
    ul#slider li:nth-child(1),
    ul#slider li:nth-child(2),
    ul#slider li:nth-child(3),
    ul#slider li:nth-child(4),
    ul#slider li:nth-child(5),
    ul#slider li:nth-child(6) {
        min-height: 243px;
    }
    .agile_banner_text_info h3 {
        font-size: 1.2em;
        letter-spacing: 0px;
    }
    .w3-button {
        margin: 1em auto 0;
        width: 82%;
    }
    .agile_banner_text_info p {
    letter-spacing: 1px;
    margin: 0.3em auto;
    font-size: 0.9em;
    width: 93%;
}
.about-3 {
    padding: 2em 0;
}
.wthree_head_section {
    margin-bottom: 1.2em;
}
.we-w3l {
    padding: 0 0em;
}
.in-block {
    padding: 0;
}
.grid1 {
    padding: 3em 0.5em;
}
.ser-agile {
    padding: 2em 0 1em;
}
.testimonals {
    padding: 2em 0;
}
.wthree-blog {
    padding: 2em 0;
}
.blog-txt h3 a {
    font-size: 19px;
}
.about-bott-right h5 {
    font-size: 19px;
}
h3.heading-agileinfo.white-w3ls {
    font-size: 20px;
    line-height: 26px;
}
.about-agile {
    padding: 2em 0;
}
.view, .view .mask, .view .content {
    width: 244px;
    height: 259px;
}
.team {
    padding: 2.5em 0 0;
}
.about-bottom.inner-padding {
    padding: 2em 0;
}
.gallery {
    padding: 2em 0;
}
.banner-bottom {
    padding: 2em 0;
}
.banner-bottom.inner {
    padding: 2em 0px;
}
.grid_3.grid_4.w3_agileits_icons_page {
    margin-top: 0;
}
.contact-form.agile_inner_grids form {
    margin-top: 2em;
}
}
/*--//responsive--*/
/*custom Navbar pill*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #777;
}
.pill_tab_title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #c00;
}
/*end navbar pill*/